{{!--
 Filaé is a tool supporting French Forensic Medical Units.
 Copyright (C) 2018-2022 infoPiiaf SARL

 This file is part of Filaé which is free software: you can redistribute it
 and/or modify it under the terms of the GNU Affero General Public License
 as published by the Free Software Foundation, version 3.

 Filaé is distributed in the hope that it will be useful, but
 WITHOUT ANY WARRANTY; without even the implied warranty of MERCHANTABILITY
 or FITNESS FOR A PARTICULAR PURPOSE. See the GNU Affero General Public
 License for more details.

 You should have received a copy of the GNU Affero General Public License
 along with this program. If not, see <https://www.gnu.org/licenses/>

--}}
<BsForm @model={{@changeset}} @onSubmit={{@onSubmit}} as |form|>
  <div class="container-fluid">
    <div class="row">
      <div class="col-md d-flex">
        <fieldset>
          <legend>Rendez-vous</legend>
          <form.element @label="Heure d'appel" @model={{this}} @property="calledAt" data-test-calledAt as |el|>
            <el.control pattern="[0-9]{2}/[0-9]{2}/[0-9]{4} [0-9]{2}:[0-9]{2}" />
          </form.element>
          <div class="hint">JJ/MM/AAAA hh:mm</div>
          {{#unless this.isMessage}}
            <form.element @label="Type de consultation" @controlType="power-select" @property="consultationType" @options={{this.consultationTypes}} data-test-consultationType as |el|>
              <el.control @searchEnabled={{true}} @searchField="title" as |consultationType|>
                <span data-test-consultationType={{consultationType.title}}>{{consultationType.title}}</span>
              </el.control>
            </form.element>
          {{/unless}}
          <form.element @label={{this.commentLabel}} @controlType="textarea" @property="comment" as |el|>
            <el.control rows=3 />
          </form.element>
        </fieldset>
      </div>
      <div class="col-md d-flex">
        <fieldset id="officer">
          <legend>{{this.spokespersonLegend}}</legend>
            {{#unless this.isMessage}}
              <form.element @label="Service requérant" @controlType="power-select" @property="callingInstitution" @options={{this.callingInstitutions}} as |el|>
                <el.control @searchEnabled={{true}} @searchField="title" as |callingInstitution|>
                  <span data-test-callingInstitution={{callingInstitution.title}}>{{callingInstitution.title}}</span>
                </el.control>
              </form.element>
            {{/unless}}
            <form.element @label="Nom" @property="officerName" data-test-officerName />
            <form.element @label="Téléphone" @controlType="phone" @property="officerPhone" />
            <form.element @label="E-Mail" @controlType="email" @property="officerEmail" />
        </fieldset>
      </div>
      <div class="col-md d-flex">
        {{#unless this.isMessage}}
          <fieldset id="patient">
            <legend>Patient</legend>
            <Patient::Autocomplete @form={{form}} @changeset={{@changeset}} @forDate={{@changeset.calledAt}} />
            {{#unless @changeset.patient.id }}
              <form.element @label="Année de naissance" @controlType="number" @property="patientBirthYear" as |el|>
                <el.control min="1900" max="2100" />
              </form.element>
              <div class="hint">{{this.ageHint}}</div>
            {{/unless}}
            <form.element @label="Personne mineure à la prise de rendez-vous" @controlType="checkbox" @property="concernsMinor" />
          </fieldset>
        {{/unless}}
      </div>
    </div>
  </div>
    {{#unless this.isNewRecord}}
      <fieldset id="status">
        <legend>Statut</legend>
        <div class="container-fluid">
          <div class="row">
            <div class="col">
              <h5>Transmettre</h5>
              <form.element @label="Médecin" @controlType="power-select" @model={{this}} @property="assignee" @options={{this.physicians}} as |el|>
                <el.control @searchEnabled={{true}} @searchField="fullName" @allowClear={{true}} as |physician|>
                  {{physician.fullName}}
                </el.control>
              </form.element>
              {{#if this.assigned}}
                <form.element @label="Heure de transmission" @model={{this}} @property="assignedAt" data-test-assignedAt as |el|>
                  <el.control pattern="[0-9]{2}/[0-9]{2}/[0-9]{4} [0-9]{2}:[0-9]{2}" />
                </form.element>
                <div class="hint">JJ/MM/AAAA hh:mm</div>
              {{/if}}
            </div>
            <div class="col">
              {{#if (and this.assigned (and @changeset.assignedAt (not @changeset.cancelledAt)))}}
                <h5>Et valider</h5>
                <form.element @label="Heure de validation" @model={{this}} @property="validatedAt" data-test-validatedAt as |el|>
                  <el.control pattern="[0-9]{2}/[0-9]{2}/[0-9]{4} [0-9]{2}:[0-9]{2}" />
                </form.element>
                <div class="hint"> JJ/MM/AAAA hh:mm</div>
                <BsButton @onClick={{action "setDateAtNow" "validatedAt"}}>
                  Maintenant
                </BsButton>
              {{/if}}
            </div>
            <div class="col">
              {{#unless this.validatedAt}}
                <h5>Ou annuler</h5>
                <div class="Consultation--cancellationTime">
                  <form.element @label="Heure d'annulation" @model={{this}} @property="cancelledAt" data-test-cancelledAt as |el|>
                    <el.control pattern="[0-9]{2}/[0-9]{2}/[0-9]{4} [0-9]{2}:[0-9]{2}" />
                  </form.element>
                  <div class="hint">JJ/MM/AAAA hh:mm</div>
                  <BsButton @onClick={{action "setDateAtNow" "cancelledAt"}}>
                    Maintenant
                  </BsButton>
                </div>
                {{#if this.cancelledAt}}
                  <div class="Consultation--cancellationReason">
                    <form.element @label="Raison d'annulation" @controlType="power-select" @property="cancelledBy" @options={{@changeset.cancellationReasons}} as |el|>
                      <el.control as |reason|>
                        {{t (concat "flowing-consultation.cancelledBy." reason)}}
                      </el.control>
                    </form.element>
                  </div>
                {{/if}}
              {{/unless}}
            </div>
          </div>
        </div>
      </fieldset>
    {{/unless}}
    <form.submitButton data-test-submit={{true}} disabled={{or this.isFormDisabled (not this.onSubmitTask.isIdle)}}>
      Sauvegarder
    </form.submitButton>
</BsForm>

<!--
    {{#if (or form.isInvalid this.isFormDisabled)}}
      <p>Cette consultation ne peut être sauvegardée. Veuillez vérifier les champs en rouge et les informations ci-dessous.</p>
      <ul>
        {{#each @changeset.errors as |error|}}
          <li>{{t (concat "flowing-consultation." error.key) }} : {{error.validation}}</li>
        {{else if (not this.consultationTypeAffected)}}
          <li>{{t "flowing-consultation.consultationType" }} : cette information doit être renseignée. </li>
        {{/each}}
      </ul>
    {{/if}}
