// Filaé is a tool supporting French Forensic Medical Units.
// Copyright (C) 2018-2022 infoPiiaf SARL
//
// This file is part of Filaé which is free software: you can redistribute it
// and/or modify it under the terms of the GNU Affero General Public License
// as published by the Free Software Foundation, version 3.
//
// Filaé is distributed in the hope that it will be useful, but
// WITHOUT ANY WARRANTY; without even the implied warranty of MERCHANTABILITY
// or FITNESS FOR A PARTICULAR PURPOSE. See the GNU Affero General Public
// License for more details.
//
// You should have received a copy of the GNU Affero General Public License
// along with this program. If not, see <https://www.gnu.org/licenses/>
//
.Toolbar
  @extend .bg-primary
  @extend .btn-toolbar
  @extend .justify-content-center
  @extend .justify-content-md-between
  @extend .rounded-top
  @extend .text-light

  .custom-control
    margin: 0 1rem

  .custom-control-input:checked ~ .custom-control-label::before
    border-color: white

.Calendars
  @extend .card-group

.Calendar
  @extend .card

.Calendar--header
  @extend .card-body
  padding: 0

.Calendar--date
  font-weight: bold
  margin: 0
  text-align: center

ol.CalendarDay--dutyPeriods
  list-style: none
  margin: 0
  padding: 0

  li
    margin: 0
    padding: 0

.Calendar--timeline
  @extend .card-footer
  @extend .bg-white
  border: 0
  padding: 0

div.full-calendar
  a.fc-event
    &.requisition-received
      div.fc-time span
        &::after
          content: 'R'
          padding-left: 0.5em
          font-weight: bolder
          font-size: larger
          vertical-align: middle

.fc-body tr
  height: 3em

.fc-time-grid-event .fc-title
  white-space: normal

.Appointment--title
  @extend .d-flex
  @extend .flex-row

.Appointment--specialCases
  @extend .d-flex
  @extend .flex-column
  @extend .justify-content-center

  text-align: center

.Appointment--summary
  padding: 0.25rem

  dl
    margin: 0.5rem 0
    dt
      @extend .sr-only
    dd
      display: inline-block
      margin: 0 0.5rem 0 0

.Summary--fullName
  padding-left: 0.25em

.Appointment--identity

.Appointment--actions

.Appointment--details
  dl
    margin: 0.5rem 1rem
    dt
      font-weight: normal
    dd
      margin: 0 0 0 2.5rem

.Appointment--consultationReason, .FlowingConsultation--consultationType
  border-radius: 3px
  color: white
  padding: 3px 6px
  background-color: gray

.Appointment--medicalFile
  @extend .d-flex
  @extend .flex-column
  @extend .justify-content-between

.Appointment--request, .Appointment--workflow

.Appointment--addAttachedFile
  white-space: nowrap

div.Appointment--attachments
  padding: 0 1em

.Patient
  &Journey
    background-color: #FFF8
    border-radius: 3px
    position: absolute
    top: 0
    right: 0
    white-space: nowrap
    .fa
      padding: 0 0.25rem
  &--unavailable
    color: #424242
  &--waiting
    color: red
  &--takenInCharge
    color: darkorange
  &--out
    color: green


.Appointments--filterArchive

.Appointments--filters

.Appointments--filter

.Appointments--dates, .Appointments--patient, .Appointments--patient-more, .Appointments--codes, .Appointments--statuses
  & > md-input-container
    margin-bottom: 0
    &:not(:first-child)
      margin-top: 0
