// Filaé is a tool supporting French Forensic Medical Units.
// Copyright (C) 2018-2022 infoPiiaf SARL
//
// This file is part of Filaé which is free software: you can redistribute it
// and/or modify it under the terms of the GNU Affero General Public License
// as published by the Free Software Foundation, version 3.
//
// Filaé is distributed in the hope that it will be useful, but
// WITHOUT ANY WARRANTY; without even the implied warranty of MERCHANTABILITY
// or FITNESS FOR A PARTICULAR PURPOSE. See the GNU Affero General Public
// License for more details.
//
// You should have received a copy of the GNU Affero General Public License
// along with this program. If not, see <https://www.gnu.org/licenses/>
//
.card-columns
  column-count: 1
  +media-breakpoint-up(md)
    column-count: 2
  +media-breakpoint-up(lg)
    column-count: 3
  +media-breakpoint-up(xl)
    column-count: 4

.ember-basic-dropdown-content, .dropdown-menu
  z-index: 1100 !important

.dropdown-menu .btn-block
  border-radius: 0

.modal-dialog.modal-max-content
  max-width: max-content

.modal-footer + .modal-footer
  border-top: 0
  padding-top: 0

.accordion > .card
  .card-body
    overflow-x: auto
  .card-header > h5 > button
    text-decoration: none
    width: 100%
