// Filaé is a tool supporting French Forensic Medical Units.
// Copyright (C) 2018-2022 infoPiiaf SARL
//
// This file is part of Filaé which is free software: you can redistribute it
// and/or modify it under the terms of the GNU Affero General Public License
// as published by the Free Software Foundation, version 3.
//
// Filaé is distributed in the hope that it will be useful, but
// WITHOUT ANY WARRANTY; without even the implied warranty of MERCHANTABILITY
// or FITNESS FOR A PARTICULAR PURPOSE. See the GNU Affero General Public
// License for more details.
//
// You should have received a copy of the GNU Affero General Public License
// along with this program. If not, see <https://www.gnu.org/licenses/>
//
.FlowingConsultationsState--content
  overflow: auto

.FlowingConsultations--filterArchive

.FlowingConsultations--filters

.FlowingConsultations--filter

.FlowingConsultations--events
  & > md-input-container:not(:last-child)
    margin-bottom: 0

.FlowingConsultations--datetime

  & > md-input-container
    margin: 0

table
  width: 100%
  tr
    td
      text-align: left
      white-space: nowrap

      &.Consultation--type
        border-left: 3px solid black

      &.Consultation--id
        font-size: smaller
        margin-right: 1rem
        text-align: right
        width: 3rem

      &.Consultation--patient button
        text-transform: none

      &.Consultation--comment
        white-space: normal

      &.Consultation--controls
        text-align: right
