// Filaé is a tool supporting French Forensic Medical Units.
// Copyright (C) 2018-2022 infoPiiaf SARL
//
// This file is part of Filaé which is free software: you can redistribute it
// and/or modify it under the terms of the GNU Affero General Public License
// as published by the Free Software Foundation, version 3.
//
// Filaé is distributed in the hope that it will be useful, but
// WITHOUT ANY WARRANTY; without even the implied warranty of MERCHANTABILITY
// or FITNESS FOR A PARTICULAR PURPOSE. See the GNU Affero General Public
// License for more details.
//
// You should have received a copy of the GNU Affero General Public License
// along with this program. If not, see <https://www.gnu.org/licenses/>
//
sass:
  body
    color: #888

    &::before
      content: "BROUILLON"
      background-color: white
      color: red
      font-size: 20pt
      font-weight: bold
      padding: 0 36pt
      position: absolute
      top: 24pt
      left: -24pt
      -webkit-transform: rotate(-30deg)
      -webkit-box-shadow: 0px 1px 15px gray

= render 'report'
