{{!--
 Filaé is a tool supporting French Forensic Medical Units.
 Copyright (C) 2018-2022 infoPiiaf SARL

 This file is part of Filaé which is free software: you can redistribute it
 and/or modify it under the terms of the GNU Affero General Public License
 as published by the Free Software Foundation, version 3.

 Filaé is distributed in the hope that it will be useful, but
 WITHOUT ANY WARRANTY; without even the implied warranty of MERCHANTABILITY
 or FITNESS FOR A PARTICULAR PURPOSE. See the GNU Affero General Public
 License for more details.

 You should have received a copy of the GNU Affero General Public License
 along with this program. If not, see <https://www.gnu.org/licenses/>

--}}
<@accordion.item class="ConsultationType" as |item|>
  <item.title>
  <h4>{{@consultationType.title}}<FaIcon @icon={{@consultationType.iconName}} /></h4>
    <div>
      {{@consultationType.rolesTitles}}
      <Filae::EditLink @route="consultation-types/edit" @model={{@consultationType.id}} />
      <Filae::DropdownConfirm @outterIcon="trash-can" @outterTitle="Supprimer…" @innerIcon="trash-can" @innerText="Supprimer définitivement." @onClick={{fn @onDestroy @consultationType}} @renderAway={{true}} class="Dropdown--delete" />
    </div>
  </item.title>
  <item.body>
    <div class="d-flex flex-column flex-sm-row">
      <div class="col">
        <h5>
          {{t "consultation-subtype.count" nb=@consultationType.consultationSubtypes.length}}
        </h5>
        <ul class="list-group">
          {{#each @consultationType.consultationSubtypes as |consultationSubtype|}}
            <Admin::ConsultationSubtype @consultationSubtype={{consultationSubtype}} @onDestroy={{@onDestroy}} class="list-group-item" />
          {{/each}}
          <LinkTo @route="consultation-subtypes/new" @model={{@consultationType.id}} title="Nouveau sous-type de consultation" class="list-group-item Link--add">
            <FaIcon @icon="plus" />
          </LinkTo>
        </ul>
      </div>

      <div class="col">
        <h5>
          {{t "consultation-reason.count" nb=@consultationType.consultationReasons.length}}
        </h5>
        <ul class="list-group">
          {{#each @consultationType.consultationReasons as |consultationReason|}}
            <Admin::ConsultationReason @consultationReason={{consultationReason}} @onDestroy={{@onDestroy}} class="list-group-item" />
          {{/each}}
          <LinkTo @route="consultation-reasons/new" @model={{@consultationType.id}} title="Nouveau motif de consultation" class="list-group-item Link--add">
            <FaIcon @icon="plus" />
          </LinkTo>
        </ul>
      </div>

      <div class="col">
        <h5>
          {{t "complementary-consultation-type.count" nb=@consultationType.complementaryConsultationTypes.length}}
        </h5>
        <ul class="list-group">
          {{#each @consultationType.complementaryConsultationTypes as |complementaryConsultationType|}}
            <li class="list-group-item" >
              {{complementaryConsultationType.title}}
            </li>
          {{/each}}
        </ul>
      </div>
    </div>
  </item.body>
</@accordion.item>
