{{!--
 Filaé is a tool supporting French Forensic Medical Units.
 Copyright (C) 2018-2022 infoPiiaf SARL

 This file is part of Filaé which is free software: you can redistribute it
 and/or modify it under the terms of the GNU Affero General Public License
 as published by the Free Software Foundation, version 3.

 Filaé is distributed in the hope that it will be useful, but
 WITHOUT ANY WARRANTY; without even the implied warranty of MERCHANTABILITY
 or FITNESS FOR A PARTICULAR PURPOSE. See the GNU Affero General Public
 License for more details.

 You should have received a copy of the GNU Affero General Public License
 along with this program. If not, see <https://www.gnu.org/licenses/>

--}}
{{page-title "Accueil"}}

<div class="Home">
  <h1>{{ t (concat 'home.greetings.' this.greetings) }}</h1>

  <div class="card-columns">
    {{#each this.interventionDomains as |interventionDomain|}}
      <div class="card">
        <div class="card-header">
          <h2 class="">
            {{interventionDomain.title}}
          </h2>
        </div>
        <div class="list-group list-group-flush">
          {{#if interventionDomain.isByAppointments}}
            {{#each interventionDomain.sortedConsultationTypes as |consultationType|}}
              {{#if (can "consult appointments of consultation-type" consultationType)}}
                <LinkTo @route="consultation-type.appointments" @model={{consultationType.id}} class="list-group-item list-group-item-action d-flex justify-content-between align-items-center" data-test-consultationTypeEntryPoint={{consultationType.title}}>
                  <span><FaIcon @icon="calendar" @prefix="far" />{{consultationType.title}}</span>
                  <FaIcon @icon={{consultationType.iconName}} />
                </LinkTo>
              {{/if}}
            {{/each}}
            <LinkTo @route="intervention-domain.appointments" @model={{interventionDomain.id}} class="list-group-item list-group-item-action">
              <FaIcon @icon="columns" />
              <span>Toutes les consultations du jour</span>
            </LinkTo>
          {{else}}
            <LinkTo @route="flowing-consultations" @model={{interventionDomain.id}} class="list-group-item list-group-item-action" data-test-interventionDomainEntryPoint={{interventionDomain.title}}>
              <FaIcon @icon="list" />
              <span>Flux</span>
            </LinkTo>
          {{/if}}
        </div>
      </div>
    {{/each}}
  </div>
</div>
