{{!--
 Filaé is a tool supporting French Forensic Medical Units.
 Copyright (C) 2018-2022 infoPiiaf SARL

 This file is part of Filaé which is free software: you can redistribute it
 and/or modify it under the terms of the GNU Affero General Public License
 as published by the Free Software Foundation, version 3.

 Filaé is distributed in the hope that it will be useful, but
 WITHOUT ANY WARRANTY; without even the implied warranty of MERCHANTABILITY
 or FITNESS FOR A PARTICULAR PURPOSE. See the GNU Affero General Public
 License for more details.

 You should have received a copy of the GNU Affero General Public License
 along with this program. If not, see <https://www.gnu.org/licenses/>

--}}
<header class="Main--header">
  <ol class="Breadcrumb">
    <li class="Breadcrumb--item">
      <LinkTo @route="index">
        <FaIcon @icon="home" />Accueil
      </LinkTo>
    </li>
    <li class="Breadcrumb--item">
      <FaIcon @icon="wrench" />Admin
    </li>
    <li class="Breadcrumb--item">
      <FaIcon @icon="user-circle" />Profil
    </li>
  </ol>
</header>

<div class="card border-light">
  <div class="card-body">
    <h1 class="card-title">{{this.me.fullName}}</h1>
    <p class="card-subtitle text-muted"><FaIcon @icon="shield-alt" />{{this.me.role.title}}</p>
    <ul class="list-group">
      <li class="list-group-item"><FaIcon @icon="envelope" @prefix="far" />{{this.me.email}}</li>
      <li class="list-group-item">
        <FaIcon @icon="key" />
        {{#if this.changePasswordToggled}}
          {{#with (changeset this.me (action "validate")) as |changeable|}}
            <BsForm @formLayout="inline" @onSubmit={{action "save" changeable}} as |form|>
              <form.element @controlType="password" @value={{changeable.password}} @onChange={{action "mutPassword" changeable}} @customError={{changeable.error.password.validation}} data-test-password as |el|>
                <el.control placeholder="Nouveau mot de passe" required autofocus />
              </form.element>
              <form.element @controlType="password" @value={{changeable.passwordConfirmation}} @onChange={{action (mut changeable.passwordConfirmation)}} @customError={{changeable.error.passwordConfirmation.validation}} data-test-password-confirmation as |el|>
                <el.control placeholder="Confirmation du mot de passe" required />
              </form.element>
              <form.submitButton data-test-submit={{true}}>
                Sauvegarder
              </form.submitButton>
              <BsButton @type="secondary" @onClick={{action "rollback" changeable}}>
                Annuler
              </BsButton>
            </BsForm>
          {{/with}}
        {{else}}
          <BsButton @type="primary" @onClick={{action "togglePasswordChange"}} data-test-edit-password={{true}}>
            Modifier son mot de passe
          </BsButton>
        {{/if}}
      </li>
      <li class="list-group-item">
        <FaIcon @icon="lock" />
        Signature numérisée
        <PrintedSignaturePreview @iconButton={{true}} />
        <FileUpload @name="Signature numérisée" @onfileadd={{action "uploadPrintedSignature"}} as |queue|>
          <a class="md-default-theme md-button md-icon-button"><FaIcon @icon="file-upload" /></a>
          {{#if queue.files.length}}
            <small>({{queue.progress}} %)</small>
          {{/if}}
        </FileUpload>
        {{#if this.printedSignature}}
          <BsDropdown as |dd|>
            <dd.toggle>
            <FaIcon @icon="trash-can" @title="Supprimer…" />
            </dd.toggle>
            <dd.menu as |menu|>
              <menu.item>
                <a onClick={{action "deletePrintedSignature"}}>
                  <FaIcon @icon="trash-can" />
                  <span>Supprimer définitivement.</span>
                </a>
              </menu.item>
            </dd.menu>
          </BsDropdown>
        {{/if}}
      </li>
    </ul>
  </div>
</div>
